* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #e4cba7;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.sobre-texto {
    text-align: center; 
    max-width: 800px;    
    margin: 0 auto;      
    padding: 20px;       
  }
.welcome-text h1 {
    font-size: 36px;
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 20px;
}

.cta-button {
    background-color: #d29e6d;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.sobre {
    display: flex;
    padding: 40px;
    background-color: #fff;
    margin: 20px 0;
}

.sobre-confeiteira img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.sobre-texto {
    margin-left: 30px;
    flex: 1;
}

.sobre-texto h2 {
    font-size: 30px;
    color: #d29e6d;
    margin-bottom: 20px;
}

.cardapio {
    padding: 40px;
    background-color: #fff;
    text-align: center;
}

.cardapio-item {
    display: inline-block;
    margin: 20px;
    text-align: left;
    width: 250px;
}

.cardapio-item img {
    width: 100%;
    border-radius: 10px;
}

.cardapio-item h3 {
    font-size: 22px;
    margin-top: 10px;
}
.galeria {
    padding: 40px;
    text-align: center;
    background-color: #f4f4f4;
}

.galeria-imagens {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.galeria-imagens img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
footer {
    background-color: #e4cba7;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 16px;
    color: #333;
}
footer a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}
